<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>

    <%- include('./css/homecss')%>

    <script defer>

        function show(){
            var createListVis = $("#createList").is(":visible")

            if(!createListVis)
                $("#createList").show()
            else
                $("#createList").hide()
        }

    </script>

</head>
<body>
    <form action="logout" method="post">
        <header class="header">
            <button class="logout" type="submit" name="logout"><box-icon class="logouticon" name='log-out' color="white"></box-icon></button>
            <nav>
                <ul class="menu">
                    <li><p><%= name %></p></li>
                    <li><box-icon name='user' color="white" size="cssSize"></box-icon></li>
                </ul>
            </nav>
        </header>
    </form>
    <!--Lista-->
    <form action="addList" method="post">
        <!--Adicionando listas-->
        <div class="opt">
            <div class="buttonAddList">
                <input type="button" class="showAddList" id="showAddList" onclick="show()">
                <i class="icon-plus" disabled="true" ><box-icon name='plus'></box-icon></i>
            </div> 
            <div class="createList" id="createList" hidden>
                <input type="text" name="descr">
                <button type="submit">Criar lista</button>
            </div>
        </div>
        
    </form>

    <!--Mostrando listas-->
    <section class="lists">
        <%
            if(list.length > 0){
                for(let i=0; i < list.length; i++){
        %> 
                <form action="list" method="post">
                    <div class="list">
                        <input type="hidden" value="<%= list[i].id %>" name="id">
                        <h2><%= list[i].descr %></h2>
                        <ul>
                        <%
                            for(let i=0; i < list.length; i++){
                                %>
                                <li>
                                    <label>
                                        <input type="checkbox"/>
                                        <p><%= list[i].descr %></p>
                                        <span></span>
                                    </label>
                                </li>
                                <%
                            }
                        %>
                        </ul>
                        <button>Teste</button>
                    </div>
                </form>
        <%
                }
            }
        %>
    </section>
</body>
</html>